In [82]:

## This script should test all the endpoints by sending requests/json payloads.

# This successfully sends a json payload.
import requests
import joblib

#url = "http://127.0.0.1:5000/"
#r = requests.post(url, json={"key": "value"})
#print(r.status_code)


# What json does the endpoint expect?


# Test opening the pickled file
path = "../sg_housing_pipe.pkl"
# Open the pickle
rfr = joblib.load(path)

cleaned_data = joblib.load("../cleaned_data.pkl")
print(cleaned_data.columns)

cols = cleaned_data.columns
#print(rfr.predict())

print(cleaned_data.info())

cols

Index(['year_of_sale', 'flat_type', 'storey_range', 'floor_area_sqm',
       'remaining_lease', 'town_ANG MO KIO', 'town_BEDOK', 'town_BISHAN',
       'town_BUKIT BATOK', 'town_BUKIT MERAH', 'town_BUKIT PANJANG',
       'town_BUKIT TIMAH', 'town_CENTRAL AREA', 'town_CHOA CHU KANG',
       'town_CLEMENTI', 'town_GEYLANG', 'town_HOUGANG', 'town_JURONG EAST',
       'town_JURONG WEST', 'town_KALLANG/WHAMPOA', 'town_MARINE PARADE',
       'town_PASIR RIS', 'town_PUNGGOL', 'town_QUEENSTOWN', 'town_SEMBAWANG',
       'town_SENGKANG', 'town_SERANGOON', 'town_TAMPINES', 'town_TOA PAYOH',
       'town_WOODLANDS', 'town_YISHUN', 'resale_price_tmp'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
Int64Index: 68161 entries, 1 to 68161
Data columns (total 32 columns):
year_of_sale            68161 non-null int64
flat_type               68161 non-null int64
storey_range            68161 non-null float64
floor_area_sqm          68161 non-null float64
remaining_lease         68161 non-null int64
town_ANG MO KIO         68161 non-null uint8
town_BEDOK              68161 non-null uint8
town_BISHAN             68161 non-null uint8
town_BUKIT BATOK        68161 non-null uint8
town_BUKIT MERAH        68161 non-null uint8
town_BUKIT PANJANG      68161 non-null uint8
town_BUKIT TIMAH        68161 non-null uint8
town_CENTRAL AREA       68161 non-null uint8
town_CHOA CHU KANG      68161 non-null uint8
town_CLEMENTI           68161 non-null uint8
town_GEYLANG            68161 non-null uint8
town_HOUGANG            68161 non-null uint8
town_JURONG EAST        68161 non-null uint8
town_JURONG WEST        68161 non-null uint8
town_KALLANG/WHAMPOA    68161 non-null uint8
town_MARINE PARADE      68161 non-null uint8
town_PASIR RIS          68161 non-null uint8
town_PUNGGOL            68161 non-null uint8
town_QUEENSTOWN         68161 non-null uint8
town_SEMBAWANG          68161 non-null uint8
town_SENGKANG           68161 non-null uint8
town_SERANGOON          68161 non-null uint8
town_TAMPINES           68161 non-null uint8
town_TOA PAYOH          68161 non-null uint8
town_WOODLANDS          68161 non-null uint8
town_YISHUN             68161 non-null uint8
resale_price_tmp        68161 non-null float64
dtypes: float64(3), int64(3), uint8(26)
memory usage: 5.3 MB
None

Index(['year_of_sale', 'flat_type', 'storey_range', 'floor_area_sqm',
       'remaining_lease', 'town_ANG MO KIO', 'town_BEDOK', 'town_BISHAN',
       'town_BUKIT BATOK', 'town_BUKIT MERAH', 'town_BUKIT PANJANG',
       'town_BUKIT TIMAH', 'town_CENTRAL AREA', 'town_CHOA CHU KANG',
       'town_CLEMENTI', 'town_GEYLANG', 'town_HOUGANG', 'town_JURONG EAST',
       'town_JURONG WEST', 'town_KALLANG/WHAMPOA', 'town_MARINE PARADE',
       'town_PASIR RIS', 'town_PUNGGOL', 'town_QUEENSTOWN', 'town_SEMBAWANG',
       'town_SENGKANG', 'town_SERANGOON', 'town_TAMPINES', 'town_TOA PAYOH',
       'town_WOODLANDS', 'town_YISHUN', 'resale_price_tmp'],
      dtype='object')

In [83]:
cleaned_data.head()

,year_of_sale,flat_type,storey_range,floor_area_sqm,remaining_lease,town_ANG MO KIO,town_BEDOK,town_BISHAN,town_BUKIT BATOK,town_BUKIT MERAH,...,town_PUNGGOL,town_QUEENSTOWN,town_SEMBAWANG,town_SENGKANG,town_SERANGOON,town_TAMPINES,town_TOA PAYOH,town_WOODLANDS,town_YISHUN,resale_price_tmp
_id,,,,,,,,,,,,,,,,,,,,,
1,2017,2,11.0,44.0,736,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,232000.0
2,2017,3,2.0,67.0,727,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,250000.0
3,2017,3,2.0,67.0,749,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,262000.0
4,2017,3,5.0,68.0,745,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,265000.0
5,2017,3,2.0,67.0,749,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,265000.0

In [84]:
my_json = {}
for i in cols:
    my_json[i] = cleaned_data[i].sample().values[0]

print(my_json)

{'year_of_sale': 2017, 'flat_type': 4, 'storey_range': 11.0, 'floor_area_sqm': 110.0, 'remaining_lease': 793, 'town_ANG MO KIO': 0, 'town_BEDOK': 0, 'town_BISHAN': 0, 'town_BUKIT BATOK': 0, 'town_BUKIT MERAH': 0, 'town_BUKIT PANJANG': 0, 'town_BUKIT TIMAH': 0, 'town_CENTRAL AREA': 0, 'town_CHOA CHU KANG': 0, 'town_CLEMENTI': 0, 'town_GEYLANG': 0, 'town_HOUGANG': 0, 'town_JURONG EAST': 0, 'town_JURONG WEST': 0, 'town_KALLANG/WHAMPOA': 0, 'town_MARINE PARADE': 0, 'town_PASIR RIS': 0, 'town_PUNGGOL': 0, 'town_QUEENSTOWN': 0, 'town_SEMBAWANG': 0, 'town_SENGKANG': 0, 'town_SERANGOON': 0, 'town_TAMPINES': 0, 'town_TOA PAYOH': 0, 'town_WOODLANDS': 0, 'town_YISHUN': 0, 'resale_price_tmp': 345000.0}

In [85]:
cleaned_data['storey_range'].sample().values[0]

8.0

In [86]:
## Can rfr model take a json?
    # Open the RFR model
path = "../sg_housing_pipe.pkl"
# Open the pickle
rfr = joblib.load(path)

In [87]:
my_json.pop('resale_price_tmp')

import numpy as np
my_arr = np.array(my_json)

rfr.predict(np.array(list(my_json.values())).reshape(1,-1))

array([421288.8])

In [ ]:
def transform_single_json_for_model(single_json):
    return np.array(list(single_json.values())).reshape(1,-1)